.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 300px;
	width: 90%;

	> .text {
		background-color: #000;
		color: #fff;
		font-family: 'Sintony', Arial, sans-serif;
		font-size: 14px;
		margin: 0;
		padding: 20px;

		.special {
			font-weight: 900;
			text-transform: uppercase;
		}

		&.-bg-red {
			background-color: #ff4136;
			color: #fff;
		}
	}
}
